<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs9JtpfGYJD-5Lmn_JpJilPR3-ooK8i_w</string>
	<key>GCM_SENDER_ID</key>
	<string>73699027275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseStorage</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-storage-e62f3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-storage-e62f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73699027275:ios:091a869dc965a0c6fee0ce</string>
</dict>
</plist>